body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: white;
}

:root {
    --heading-font-family: 'Roboto', sans-serif;
    --color: #212121;
}

.nav link :hover {
    color: red;
}

.social-links .link:focus {
    color: orange;
}

.contacts .link:hover,
.contacts .link:focus {
    color: green;
}

.active,
.btn:hover {
    cursor: pointer;
    color: red;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background-color: #2196F3;
}

h1, h2, h3 {
    var(--heading-font-family);
    font-weight: 700;
}

ul{
    list-style: none;
}

.details p{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px
}

.x link{
    color:#2196F3;
}
